.f6{
  border-width: 2px;
}

@-webkit-keyframes shine {
  to {
    background-position: 200% center;
  }
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}
a{
  color:#000;  
  text-decoration: inherit;
}
.first{
  font-family: HelveticaNeue-Thin;
  width:60%;
}
 .callout{HelveticaNeue-Medium;}

.point{
    font-family: HelveticaNeue;
 }

@media (max-width: 410px){

.first{
  font-family: HelveticaNeue-Thin;
  font-size: 0.4em;
  padding-top: 4em;
  padding-bottom:2em;
  line-height: 1.4em;
  color:#AE8AF5;
  line-height:1.8em;
  width:42%;
}
.point{
  line-height:1.8em;
  padding-top: 3em;
  padding-bottom: 1em;
  font-size:0.3em;
  width:200px;
}
.f6{
  transform:scale(0.8);
  margin-left:-11px;
}
#pTitle{
  font-family: HelveticaNeue-Medium;
  font-size: 3em;
/*  color:#AE8AF5;
*/}
a{
  padding-right: 5px;
}
.image{
  width:12em;
  margin-bottom:10px;
  opacity:0.47;
}
.image:hover {
  opacity:1;
  box-shadow: 0 8px 18px 0 rgba(3,0,0,0.50);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

}

@media (min-width: 750px)
{
  .first{
    text-align: left;
    color: #000000;
    padding-top:6em;
    min-width: 500px;
    position:relative;
    font-size:1em;
    padding-bottom: 4em;
    width:50em;
  }
  .callout{
  font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
  opacity: 0.7;
}
.point{
   overflow: auto;
  text-align: left;
  font-size: 1em;
  font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
  color: #000000;
  padding-bottom:4em;
  margin:0;
  width:80em;
  line-height: 1.5em;
}
.description{
  text-align:left;
  opacity: 0.87;
   line-height:1.4;
}

a{
  padding-right: 1em;
}
#desc{
  font-family: HelveticaNeue-Light, Helvetica, Arial, sans-serif;
  word-wrap: break-word;
  opacity:0.8;
}
#pTitle{
  font-family: HelveticaNeue-Medium;
  font-size: 1.9em;
/*  color:#AE8AF5;
*/}

.container{
  width:20em;
  padding:0;
  display:inline-block;
  float:left;
}

.image{
  width:20em;
    opacity: 0.47;
        -webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
    -webkit-transition: opacity 200ms cubic-bezier(.215, .61, .355, 1), -webkit-transform 200ms cubic-bezier(.55, .085, .68, .53);
    transition: opacity 200ms cubic-bezier(.215, .61, .355, 1), -webkit-transform 200ms cubic-bezier(.55, .085, .68, .53);
    transition: opacity 200ms cubic-bezier(.215, .61, .355, 1), transform 200ms cubic-bezier(.55, .085, .68, .53);
    transition: opacity 200ms cubic-bezier(.215, .61, .355, 1), transform 200ms cubic-bezier(.55, .085, .68, .53), -webkit-transform 200ms cubic-bezier(.55, .085, .68, .53);
}
.image:hover {
  opacity:1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.text{
  width:50em;
    float: left;
      width: 100%;
}
.a6 {
    -webkit-border-radius: 10em;
-moz-border-radius: 10em;
border-radius: 10em;
}
}

#homePage{
  display: none;
}
.description{
  font-family:HelveticaNeue-Light;
  font-size: 1.3em;
  padding-top:0.5em;
  width:60%;
  padding-bottom:1em;
}
.callout{
  font-family: HelveticaNeue;
}
.blah{
  font-size:1.1em;
  text-align: left;
  padding-top: 2em;
  font-family: HelveticaNeue, Arial, sans-serif;
}
#stuff{
}

html, body{
    margin:0;
    padding:0;
}

.emphasis{
  opacity: inital;
  padding-top:20px;
  padding-bottom:2em;
  font-size: 3em;
  font-family: HelveticaNeue-Medium, Helvetica, Arial, sans-serif;
}

#date{
  font-family: HelveticaNeue-Italic, Helvetica, Arial, sans-serif;
  opacity:0.8;
}
html {
  margin:0;
  border:0;
}

#parcpals1{
  color:#ffffff;
  background-color: #879BFF;
}
#toDoApp1{
  color:#ffffff;
  background-color: #879BFF;
}
.headerProj{
    color:#ffffff;
}
.pTitle1{
  color:#ffffff;
  padding-top:3em;
  font-size:1.5em;
  font-family: HelveticaNeue-Bold, Helvetica, Arial, sans-serif;
  position:relative;
  padding-top:3em;
}

.sam{
    font-size:1.5em;
    color: #879BFF;
    font-family: HelveticaNeue-Bold, Helvetica, Arial, sans-serif;
    position: fixed;
    bottom: 0;
    right: 0;
    padding-bottom: 3em;
    cursor:pointer;
}

#new{
  pointer-events: none;
  padding-top:5em;
  padding-bottom:2em;
}
.end{
  font-family: HelveticaNeue-Bold,
  padding-top:10em; 
}

body{
  background-color: #fff;
}
.image{
    opacity: 0.47;
    }
.image:hover {
  opacity:1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
@media(max-width:420px){
    body{

  padding-left:2em;
  }
  .first{
    padding-top:2em;
    width:100%;

  }
  .point{
    padding-right:2em;
  }
}
@media(min-width: 420px){
  body{

  padding-left:8em
  }
  .point{
  float:left;
  width: 16em;
  height:auto;
}
  img{
    width:16em;
    height:auto;
  }
}
@media (min-width:750px){
  body{
    padding-left:18em;
  }
.point{
  float:left;width: 30em;
}
}

ul{
 list-style-type: none;
 padding: 0;
}

figcaption{
  padding-top:1em;
}
